.navbar{
    display: flex;
    justify-content: space-around;
    background-color: red;
    height: 15%;
    padding: 20px;
    align-items: center;
}

.logo{
    font-size: xx-large;
    font-weight: bolder;
}
